<section class="main">
  <app-bread-crumb [items]="items"></app-bread-crumb>
  <section class="section-main">
    <div class="table-heading col-1-of-3">
      <h1>
        Active patients
      </h1>
      <div class="filters dashboard-forms">
        <label> Search by :</label>
        <input type="text" placeholder="Email, Firstname, Patient number" class="input-field" [(ngModel)]="searchText"
          [ngModelOptions]="{standalone: true}" />
      </div>
      <div class="filters">
        <label> Sort By :</label>
        <select name="" id="">
          <option value="">
            Create Date
          </option>
        </select>
      </div>
    </div>

    <div class="table">
      <table *ngIf=" patients$ | async as  patients">
        <thead>
          <tr>
            <td>
              FULLNAME
            </td>
            <td>
              MEDICAL AID
            </td>
            <td>
              EMAIL
            </td>
            <td>
              CELLPHONE
            </td>
            <td>
              UPCOMING <br> APPOINTMENTS
            </td>
            <td>
              ACTIONS
            </td>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of patients.patients | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }">
            <td class="full-name">
              {{data.FirstName}} {{data.Surname}}
              <span>{{data.CreateDate}}</span>
            </td>
            <td>

              <span *ngIf="data.MedicalaidName">
                {{data.MedicalaidName}}
              </span>
              <span class="warning" *ngIf="!data.MedicalaidName">
                No Medical Aid
              </span>

            </td>
            <td>
              {{data.Email}}
            </td>
            <td>
              {{data.Cellphone}}
            </td>
            <td class="aling-center">
              <span class="number-dadge  number-{{data.NumAppointments}}">
                {{data.NumAppointments}}
              </span>
            </td>
            <td>
              <div class="btn-group btn-group-4">
                <div class="btns">
                  <a [routerLink]="['patient',data.PatientId]"><img src="assets/images/dashboard/btn-search.svg" class="img-btn"
                      alt=""></a>
                </div>
                <div class="btns">
                  <img src="assets/images/dashboard/btn-edit.svg" (click)="showEdit(data)" class="img-btn" alt="">
                </div>
                <div class="btns">
                  <img src="assets/images/dashboard/btn-delete.svg"  (click)="confirmArchive(data)" class="img-btn" alt="">
                </div>
                <div class="btns">
                  <img src="assets/images/dashboard/add-to-q.svg" (click)="quue(data)" class="img-btn" alt="">
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="paging">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>

    </div>
  </section>

</section>

<div class="overlay" *ngIf="showUpdatePopup">
  <app-update-patient [patient]="patient" *ngIf="openUpdatePatient" (closeModalAction)="closeModal($event)"></app-update-patient>
  <app-update-medical-aid *ngIf="openUpdateMedicalAid" (closeModalAction)="closeModal($event)"></app-update-medical-aid>
  <app-update-emergency-contact *ngIf="openUpdateEmengencyContact" (closeModalAction)="closeModal($event)"></app-update-emergency-contact>
</div>
<div class="overlay" *ngIf="showConfirm">
 <app-confirm-box [actionString]="actionString"  (closeModalAction)="closeModal($event)"></app-confirm-box>
</div>
<p-toast></p-toast>



