@media only screen and (max-width: 600px) {
  .accounts {
    background: url('../../../assets/images/home/account-mobile-bg.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -20px;
    background-size: contain;

    .panel {
      padding: 3rem;

      .panel-body {
        .form {
          margin-top: 270px;
        }
      }
    }
  }
}
