<section class="main">
  <app-bread-crumb [items]="items"></app-bread-crumb>
  <section class="section-main">
   <div class="container">
     <div class="col-1-of-2">
       <div class="cta-patient">
          <h1>
            <span class="heading">
                {{patientData.FirstName}} {{patientData.Surname}}
            </span>
          </h1>
          <img src="assets/images/dashboard/user-icon-details.svg" alt="user icon" class="user-icon">
          <div class="cta-buttons">
            
          </div>
       </div>
       <div class="data-patient">
          <h1>Hi</h1>
      </div>
     </div>
   </div>
  </section>
  <section class="notes">   
    <app-notes  [Name]="Name"></app-notes>
  </section>
</section>
