.main {


  .section-main {
    padding: 3%;

    .table-heading {
      display: grid;
      grid-template-columns: 60% 40%;
      padding-left: 2rem;
      padding-right: 3rem;

      h1 {
        text-transform: uppercase;
      }

      .filters {
        text-align: right;

        label {
          font-weight: 700;
          font-size: .8rem;
        }

        select {
          background: none;
          border: none;
          font-weight: 700;
          color: #29B6F6;
          font-size: .8rem;
        }
      }
    }

  
  }


}
