.main {


  .section-main {
    padding: 3%;

    .table-heading {
      display: grid;
      grid-template-columns: 60% 40%;
      padding-left: 2rem;
      padding-right: 3rem;

      h1 {
        text-transform: uppercase;
      }

      .filters {
        text-align: right;

        label {
          font-weight: 700;
          font-size: .8rem;
        }

        select {
          background: none;
          border: none;
          font-weight: 700;
          color: #29B6F6;
          font-size: .8rem;
        }
      }
    }

    .table {
      padding: 2rem;
      border-collapse: collapse;


      table {
        width: 100%;

        tbody {
          tr {
            background: #FFFFFF;
            border-right: none;
            border-left: none;
            td {
           
              padding: 1rem;
    

              .btn-group {
                display: grid;
                grid-template-columns: 30% 30% 30%;
                column-gap: .3rem;

                .btns {
                  img {
                    width: 2rem;
                  }
                }
              }
            }

            .full-name {
              span {
                display: block;
                font-size: .7rem;
                padding: .2rem;
              }
            }
          }
        }
      }
    }
  }


}
