<section class="main">
    <app-bread-crumb></app-bread-crumb>
  <section class="section-main">
    <div class="table-heading">
      <h1>
        Active patients
      </h1>
      <div class="filters">
        <label> Sort By :</label>
        <select name="" id="">
          <option value="">
            Create Date
          </option>
        </select>
      </div>
    </div>

    <div class="table">
      <table *ngIf=" patients$ | async as  patients">
        <thead>
          <tr>
            <td>
              FULLNAME
            </td>
            <td>
              MEDICAL AID
            </td>
            <td>
              EMAIL
            </td>
            <td>
              CELLPHONE
            </td>
            <td>
              UPCOMING <br> APPOINTMENTS
            </td>
            <td>
              ACTIONS
            </td>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of patients.patients">
            <td class="full-name">
              {{data.FirstName}}  {{data.Surname}}
              <span>{{data.CreateDate}}</span>
            </td>
            <td>
             {{data.MedicalaidName}}
            </td>
            <td>
                {{data.Email}} 
              </td>
            <td>
                {{data.Cellphone}} 
              </td>

              <td class="aling-center">
                <span class="number-dadge">
                  0
                </span>
              </td>
              <td>
             <div class="btn-group">
                <div class="btns">
                    <a [routerLink]="['patient',data.PatientId]"><img src="assets/images/dashboard/btn-search.svg" class="img-btn" alt=""></a>
                  </div>
                  <div class="btns">
                    <img src="assets/images/dashboard/btn-edit.svg" class="img-btn"  alt="">
                  </div>
                  <div class="btns">
                    <img src="assets/images/dashboard/btn-delete.svg"  class="img-btn" alt="">
                  </div>
             </div>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</section>
