<section class="main">
  <section class="section-main">
      <div class="table-heading">
          <h1>
            Active patients
          </h1>
          <div class="filters">
           <label> Sort By :</label>
            <select name="" id="">
              <option value="">
                Create Date
              </option>
            </select>
          </div>
        </div>
      
        <div class="table">
      <table>
        <thead>
          <tr>
            <td>
                FULLNAME
            </td>
            <td>
                MEDICAL AID
            </td>
            <td>
                EMAIL 
            </td>
            <td>
                CELLPHONE
            </td>
            <td>
                UPCOMING APPOINTMENTS
            </td>
            <td>
                ACTIONS
            </td>
           
          </tr>
        </thead>
      </table>
        </div>
  </section>
  <section class="section-feed">
    Feed
  </section>

</section>

