.drugs{
    .col-1-of-3{
        grid-template-columns: 25% 25% 25% auto;
    }
    .btn-remove{
        padding-top: 2rem;
    }
  }
  

    ::ng-deep  .ui-inputtext{
        border: none;
        background: rgba(120, 144, 156, 0.151);
        border-radius: 5rem;
        padding: .7rem 2rem;
        margin: 1rem 0;
        width: 100%;
        color: #78909C;
        font-weight: 600;
    }
  