<section class="modal shadow-black">
 <section class="modal-header">
   <ul>
     <li  class="active">
       <a>REGISTER PATIENT</a>
     </li>
     <li>
       <a>MEDICAL INFO</a>
     </li>
     <li>
       <a>EMERGENCY CONTACTS</a>
     </li>
     <li class="exit">
       <img src="../../../assets/images/dashboard/btn-exit.png" (click)="closeModal()" class="img-btn" alt="">
     </li>
   </ul>
 </section>
 <section class="popup-body">
    <form [formGroup]="rForm" (ngSubmit)="send(rForm.value)" class="box form-group">
        <div class="controls">
          <label for="">First Name</label> <br />
          <input type="text" formControlName="FirstName" />
          <div class="alert" *ngIf="!rForm.controls['FirstName'].valid && rForm.controls['FirstName'].touched">
            Name is requried
          </div>
        </div>
       
      
        <div class="controls">
          <input type="submit" value="Send" class="btn-gold" [disabled]="!rForm.valid" />
        </div>
      </form>
 </section>
</section>
