<a href="#popup" class="btn btn-green">
  Launch Login
</a>

<div class="popup" id="popup">
  <div class="popup__content">
    <!-- <a href="#home" class="popup__close">&times;</a> -->
    <a href="#home" class="btn btn-close">Exit</a>

    <form [formGroup]="rForm" >
      <h1>Login</h1>
      <fieldset>
        <label for="mail">Email:</label>
        <input type="email" id="mail" formControlName="email" >
        <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">
          Email is requried
        </div>
        <label for="password">Password:</label>
        <input type="password" id="password"  formControlName="password">   
        <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
          Passowrd is requried
        </div>
      </fieldset>
      <button type="submit" (click)="Login()">Login</button>
    </form>    
    <div class="popup__gradient">
    </div>
  </div>
</div>
