@import "../../../assets/sass/variables";

.modal {
  width: 56%;
  left: 20%;

    .modal-header {
      padding: 4%;
      padding-bottom: 0.5%;
      color: $black-color;
      text-align: center;
      background: transparent;
    
      h1{
        font-size: 2em;
      }
    }
    .dashboard-forms {     
      width: 50%;
      margin: 0 auto;
  }

  
}


