.form {
  border-radius: 5px;
  background: transparent;
  padding: 3rem;

  .form-group {
    margin-bottom: 0.5em;
  }
  label {
    text-transform: capitalize;
    color: lighten($color: $grey-dark-color, $amount: 0.1);
    font-weight: 600;
    margin-bottom: 1rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid lighten($color: $grey-color, $amount: 0.1);
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 16px;
    resize: vertical;
    &:focus {
      border-radius: 15px;
    }
  }

  input[type="submit"] {
    background: #dee5ed;
    color: #000;
    border-radius: 1000em;
    padding: 0.5em 1.5em;
     cursor: "pointer";
  }

  input[type="submit"]:hover {
    background-color: $green-light-color;
    cursor: "pointer";
  }
}

.dashboard-forms {
  padding: 2rem;

  label {
    color: #78909c;
    font-weight: 600;
    text-transform: capitalize;
  }

  .input-field {
    border: none;
    border-radius: 5rem;
    padding: 0.7rem 1rem;
    margin: 1rem 0;
    width: 100%;
    color: #78909c;
    font-weight: 600;
  }
  .textarea {
    border-radius: 1rem;
  }

  .button {
    width: 22rem;
    padding: 1rem;
    background: #29b6f6;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    border: none;
    font-size: 1.1rem;
    border-radius: 10rem;

    cursor: pointer;
    &:hover {
      background: rgb(28, 155, 214);
    }
    @media only screen and (max-width: 600px) {
      background: #29b6f6;
      padding: 0.8rem;
      // border-radius: 2rem;
      width: 15rem;
    }
  }
}

.button:disabled {
  background: #d8d8d8;
  cursor: no-drop;
  &:hover {
    background: #d8d8d8;
  }
}

.switch-conatiner {
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 2rem;
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &:before {
      position: absolute;
      content: "";
      height: 1.5rem;
      width: 1.5rem;
      left: 7px;
      bottom: 3px;
      background-color: white;
      transition: 0.4s;
    }
  }

  input {
    &:checked + .slider {
      background-color: #29b6f6;
    }
    &:focus + .slider {
      box-shadow: 0 0 1px #29b6f6;
    }
    &:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }

  /* Rounded sliders */

  .slider.round {
    border-radius: 3rem;
    &:before {
      border-radius: 50%;
    }
  }
}
