<section class="dashboard">
  <div class="top-bar">
    <div class="logo">
      <img src="assets/images/dashboard/logo.svg" alt="">
    </div>

    <div class="slogan">
      <p>Patient management portal</p>
    </div>

    <div class="nav">
      <ul>
        <li>
          <a routerLink="/dashboard">PATIENTS</a>
        </li>
        <li>
          <a routerLink="">PRESCRIPTIONS</a>
        </li>
        <li>
          <a routerLink="">APPOINTMENTS</a>
        </li>
      </ul>
    </div>

    <div class="profile">
      <div class="dp">
        <img src="assets/images/dashboard/user-icon.svg" alt="">
      </div>
      <div class="name">
        <h3>
          Dr. Guest
        </h3>
        <p>
          GENERAL PRACTITIONER
        </p>
      </div>
      <div class="option-btn">
        <img src="assets/images/dashboard/btn-3-dots.svg" alt="">

      </div>
    </div>
  </div>
  <section class="main-outlet">
    <section class="outlet">
        <router-outlet></router-outlet>
    </section>
    <section class="section-feed">
      <div class="add-patient">
        <img src="assets/images/dashboard/btn-add-patient.svg" (click)="showAddPatientModal()" class="img-btn" alt="">
      </div>
      <div class="feed">
        <h1>
            Notification feed
        </h1>
      </div>
    </section>
  
  </section>
</section>
<div class="overlay" *ngIf="showPopup">
    <app-add-patient  *ngIf="openAddPatient" (closeModalAction)="closeModal($event)"></app-add-patient>
    <app-add-medical-aid  *ngIf="openAddMedicalAid"></app-add-medical-aid> 
   <app-add-emergency-contact  *ngIf="openAddEmengencyContact"></app-add-emergency-contact> 
</div>
