.dashboard {
  box-shadow: 10px -1px 83px -21px rgba(0, 0, 0, 1);
  background: #f6f9fc;

  .top-bar {
    display: grid;
    grid-template-columns: 8% 20% 40% auto;
    background: #29b6f6;
    padding: 0.5rem 2rem;
    color: #f6f9fc;

    div {
      position: relative;
    }

    .logo {
      img {
        width: 5rem;
        position: absolute;
        top: 20%;
      }
    }

    .slogan {
      p {
        position: absolute;
        top: 30%;
        font-weight: 200;
        font-size: .8rem
      }
    }

    .nav {
      ul {
        list-style: none;
        position: absolute;
        top: 30%;

        li {
          display: inline;
          padding: 0 1rem;

          a {
            color: #f6f9fc;

          }
        }
      }
    }

    .profile {
      display: grid;
      grid-template-columns: 20% 60% auto;

      .dp {
        img {
          width: 2rem;
          position: absolute;
          top: 15%;
        }
      }

      .name {
        h3 {
          font-weight: 300;
        }

        p {
          font-size: .7rem;
        }
      }

      .option-btn {
        position: absolute;
        top: 30%;
        right: 0;

        img {
          width: 2rem;
          cursor: pointer;

        }
      }
    }
  }


  .main-outlet {
    display: grid;
    grid-template-columns: 80% 20%;

    .section-feed {
      padding: 6%;
      background: #fff;

      .add-patient {
        padding: .8rem .1rem;

        img {
          width: 50%;
          cursor: pointer;
        }
      }

      .feed {
        h1 {
          color: #1C2833;

        }
      }
    }
  }

}
