@import '../../assets/sass/variables';

.home {
  padding: 0;
  height: auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  background-image: url("../../assets/images/home/back-ground-header.svg");
  background-repeat: no-repeat;
  background-size: 108%;
  background-position-y: -6%;
  background-position-x: center;

  .col-1-of-2 {
    grid-template-columns: auto 50%;
  }
}

.navigation {
  padding: 2%;

  .logo {
    width: 15%;
  }

  ul {
    list-style-type: none;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(5, auto);

    a {
      color: white;
      font-weight: 500;

      img {
        margin-top: -1rem;
        width: 70%;
      }
    }
  }
}

.home-banner {
  display: grid;
  grid-template-columns: 50% auto;
  // height: 100vh;


  .header {
    padding: 0 10%;
    padding-bottom: 0;

    color: $cloud-white-color;

    .header-small {
      display: block;
      margin-bottom: 3rem;
      font-size: 3.2rem;
      font-weight: 400;
    }

    .header-big {
      font-size: 3em;
      display: block;
      margin-bottom: 3rem;

      .purple {

        color: $purple-color;
        border-bottom: 5px solid;

      }
    }

    .form-text {
      font-weight: 300;
    }

    .input-field {
      background: #88A5E5;
      color: rgb(16, 15, 29);
    }

    label {
      color: #fff;
    }
  }
}

.our-offering {
  height: 70vh;
  padding: 10%;

  .heading {
    color: $primary-color;
    display: block;
    font-size: 2rem;

    &.about {
      font-weight: bold;
      font-size: 3rem;
    }
  }

  .caption {
    font-weight: 200;
    font-size: 1rem;

    &.about {
      font-weight: 300;
      font-size: 1.5rem;
      display: block;
      margin-bottom: 1rem;
    }
  }

  .paragraph {
    font-size: 1rem;
    font-weight: 200;
  }

  img.learn-more {
    cursor: pointer;
    margin-top: 1rem;
    width: 65%;
  }

}

.our-mvp {
  // height: 80vh;
  padding: 5% 10%;
  text-align: center;

  h1 {
    margin-bottom: 3rem;
  }

  .header {
    font-weight: 900;
    color: $primary-color;
    font-size: 3rem;
  }

  .col-3 {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 1rem;

    img {
      width: 90%;
    }
  }
}

.your-investment {
  padding: 10%;
  padding-top: 2%;
  text-align: center;
  background-image: url("../../assets/images/home/investment-bg.svg");
  background-repeat: no-repeat;
  background-size: 108%;
  background-position-y: 10rem;
  background-position-x: center;

  h1 {
    margin-bottom: 15rem;
  }

  .header {
    font-weight: 900;
    color: $primary-color;
    font-size: 3rem;
  }

  .col-1-of-2 {
    grid-template-columns: repeat(2, 30%);
    grid-gap: 10rem;
    padding-left: 15rem;
  }

}

.footer {
  height: 50vh;
  padding: 10%;
  padding-top: 2%;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: $purple-color;
    margin-bottom: 3rem;
  }

  hr {
    margin-top: 2rem;
    border-width: 2px;
    border-style: solid;
    border-color: $primary-color;
  }
.btn-contact{
  width: 17%;
}
  .powered-by {

    margin-top: 2rem;
    font-weight: 400;
    font-size: 2rem;
    color: $black-color;

    .powered {
      color: $pink-color;
    }
  }
}
