@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-weight: 400;
  font-size: 80%; // 1 rem = 12.8px; therefore 12.8px/16px = 80% Therefore we will decrease by -1px from the base of 12.8px NB: For this project only

  @include responsive(tab-land) {
    font-size: 73.75%; // 1 rem = 11.8px , 10.8/16 = 67.5%;
  }

  @include responsive(tab-port) {
    font-size: 67.5%; // 1 rem = 10.8px  , 10.8/16 = 67.5%;
  }

  @include responsive(phone) {
    font-size: 61.25%; // 1 rem = 9.8  , 10.8/16 = 67.5%;
  }

  @include responsive(big-desktop) {
    font-size: 100%; // 1 rem = 16px  , 10.8/16 = 67.5%;
  }

}

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.7;
  color: #000;
  background-color: #FBFCFC;
  padding: 1.5rem;

  @include responsive(phone) {
    padding: 0;
    padding-left: 0;
  }

}

a {
  text-decoration: none;
  color: #000;
}


h1 {
  font-size: 1.5em;
}

img {
  widows: 100%;
}



.btn.primary {
  background: #26C6DA;
  color: #fff;
}




.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(75, 63, 63, 0.712);
  // filter: blur(50px);
  // opacity: 0.6;
  top: 0;
  left: 0;
}

.shadow-black {
  -webkit-box-shadow: 10px 10px 32px 1px rgba(89, 89, 89, 1);
  -moz-box-shadow: 10px 10px 32px 1px rgba(89, 89, 89, 1);
  box-shadow: 10px 10px 32px 1px rgba(89, 89, 89, 1);
}

.number-dadge {
  background: #29B6F6;
  color: #fff;
  text-align: center;
  width: 15rem;
  // height: 5rem;
  border-radius: 5rem;
  padding: .5rem .8rem;
  margin: 0 auto;
}

.number-0 {
  opacity: .4;
}

.aling-center {
  text-align: center;
}

.img-btn {
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    transform: translate(.3rem)
  }
}
