//Colors 
$primary-color : #03A9F4;
$ocean-blue-color : #26C6DA;
$gold-color : #FFD54F;
$green-color : #00A66E;
$green-light-color :#00FED9;
$grey-color : #808B96;
$blue-color : #1565C0;
$black-color : #1C2833;
$army-green : #338584;

//Grid values
$grid-width: 114rem;
$gutter-vertical : 6rem;
$gutter-horizontal : 6rem;
